@import "tailwindcss";

:root {
  /* Figma Primitive Values */
  --raw-peach: #e7816b;
  --raw-black: #1d1c1e;
  --raw-white: #ffffff;
  --raw-light-peach: #fdf3f0;
  --raw-dark-grey: #333136;
  --raw-light-grey: #f1f3f5;
}

@theme {
  --font-jost: var(--font-jost), sans-serif;

  --color-peach: var(--raw-peach);
  --color-light-peach: var(--raw-light-peach);
  --color-dark-grey: var(--raw-dark-grey);
  --color-light-grey: var(--raw-light-grey);
  --color-black: var(--raw-black);
  --color-white: var(--raw-white);
}
@layer utilities {
  /* H1: 48px / 48px line-height / Medium */
  .text-h1 {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 500;
  }

  /* H2: 40px / 48px line-height / Medium / 1.2px tracking */
  .text-h2 {
    font-size: 2.5rem;
    line-height: 3rem;
    font-weight: 500;
    letter-spacing: 0.075em; /* ~1.2px */
  }

  /* H3: 20px / 26px line-height / Medium / 2px tracking */
  .text-h3 {
    font-size: 1.25rem;
    line-height: 1.625rem;
    font-weight: 500;
    letter-spacing: 0.1em; /* ~2px */
  }

  /* Body: 16px / 26px line-height / Regular */
  .text-body {
    font-size: 1rem;
    line-height: 1.625rem;
    font-weight: 400;
  }
}
